.language {
    height: 50px;
    width: 50px;
    color: #fefefe;
    margin: 10px;
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid rgb(254, 254, 254);
    border-radius: 50%;
}