@import './components/Navbar.scss';
@import './components/Footer.scss';
@import './components/About.scss';
@import './components/Skills.scss';
@import './components/Tags/Language.scss';
@import './components/Resume.scss';
@import './components/Projects/hops.scss';
@import './components/Tags/Tag.scss';
@import './components/Modal.scss';
@import './components/Contact.scss';

@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300;400;700&family=Playfair+Display:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bowlby+One+SC&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Crete+Round&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Holtwood+One+SC&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&display=swap');


* {
  box-sizing: inherit;
}

html, body {
  box-sizing: border-box;
}

html {
  overflow-y: scroll;
  overflow: overlay;
  height: 100%;
  
}

body {
    background: rgb(83,156,198);
    background: radial-gradient(circle, rgba(83,156,198,1) 50%, rgba(54,107,161,1) 100%);
    background-attachment: fixed;
    height: 100%;
    margin: 0;
    font-family: 'Merriweather', serif;
    color: #fefefe;
    line-height: 1.5;

}

h1 {
    /* font-family: 'Playfair Display', serif; */
    /* font-family: 'Bowlby One SC', cursive; */
    /* font-family: 'Crete Round', serif; */
    font-family: 'Holtwood One SC', serif;
    font-size: 40px;
    font-weight: 400;
    margin: 0;
    
}

h2 {
    font-family: 'Bree Serif', serif;
    font-size: 40px;
    font-weight: 0;
    margin: 0;
    
}

h3 {
    font-size: 24px;
    
    margin: 0px 0px 16px 0px;
}

a {
    text-decoration: none;
    color: inherit;
}

.wrapper {
    height: 100%;
    min-height: 100vh;
    margin: 0 auto;
    padding: 40px;
    display: block;
    /* background-color: #fefefe; */
}

.flex {
    display: flex;
    align-items: center;
}

.text-align-right {
    text-align: right;
}

::-webkit-scrollbar {
    background-color: transparent;
    width: 10px;
}

::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background-color: #fefefe;
}

@media (max-width: 879px) {
  .wrapper {
    width: 100%;
  }
}

@media (min-width: 880px) {
  .wrapper {
    width: 800px;
  }
}